{% extends 'basedash.html.twig' %}

{% block title %}New Adherant{% endblock %}

{% block bodydash %}
    <h1>Create new Adherant</h1>

    {{ include('adherant/_form.html.twig') }}

    <a href="{{ path('adherant_index') }}">back to list</a>
{% endblock %}
