{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<br>
<br>
<br>
<div class="container">
<h1 class="text-center">Tableau de bord</h1>
  <div class="row" >
    <div class="col bg-info button-dash card">
<a href="{{ path('user_index') }}">
    Gestion utilisateurs </a></div>
    <div class="col bg-info button-dash card">
    <a href="{{ path('livre_index') }}">

    Gestion livres</a></div>
    <div class="col bg-info button-dash card">
            <a href="{{ path('adherant_index') }}">

    Gestion adhérants</a></div>
    <div class="col bg-info button-dash card">
                <a href="{{ path('emprunt_index') }}">

    Gestion emprunt</a></div>
  </div>
  </div>

{% endblock %}
